.App {
  text-align: center;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.head-board {
  display: flex;
  justify-content: space-around;
}

.head-board-amount {
  width: 5rem;
}

.factory {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 5px;
}

.silo-capacity {
  display: flex;
  flex-direction: column-reverse;
  border: 5px solid brown;
  height: 10rem;
  width: 10rem;

}

.silo-ressource {
  background-color: red;
  height: 100%;
  width: 100%;
}

.silo-ressource-details {
 position: absolute;
 height: 8rem;
 width: 10rem;
 font-weight: bolder;
}


.button-level-up {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  height: 4rem;
  width: 8rem;
  align-self: center;
}

.button-level-up > span {
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: bolder;
}